* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: "Source Sans Pro", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

section {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: none;
  min-height: 100%;
  padding: 0 10%;
}

section > div {
  display: block;
  width: 100%;
}

section > div > :first-child {
  margin-top: 0;
}

section > div > :last-child {
  margin-bottom: 0;
}

.slide-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

li {
  margin: 1.5rem 0;
}

.actions {
  bottom: 0;
  font-size: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.actions button {
  background: transparent;
  border: 0;
  color: transparent;
  display: inline-block;
  height: 100%;
  outline: 0;
  width: 50%;
}


.title {
  background: url("/images/title-v2.png") 50% 50% no-repeat;
}

.cheating {
  background: url("/images/cheating-karla-font.png") 50% 50% no-repeat;
}

.artwork {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.artwork div {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 50%;
}

.artwork img {
  display: block;
  width: 100%;
}

.end {
  background: #f9f9f9 url("/images/the-end.png") 50% 50% no-repeat;
}



.image {
  background-size: cover;
  color: transparent;
}
